body {
  background-color: #CCC !important;
}

.adverts-stub {
  background-color: #566573;
  height: 100px;
}

.adverts-big-stub {
  background-color: #CCC;
  width: 100%;
  height: 512px;
  padding: 220px 0 0 0;
}

.adverts-right-stub {
  background-color: #CCC;
  width: 97%;
  height: 300px;
  padding: 120px 0 0 0;
}

.nav-item {
  .bolder {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

footer {
  background-color: #34495E;
  min-height: 200px;
  padding-top: 20px;

  .footer-logo {
    margin: 50px 0 0 0;
  }

  .footer-icon {
    background-color: #34495E;
    margin: 80px 10px 0 0;
  }

  .contacts {
    margin: 90px 0 0 0;
  }
}

.top-baner {
  height: 140px;

  .position {
    margin: 30px auto;
  }
}

.main {
  background-color: #fff;
  padding-top: 20px;

  .interesting-block {
    min-height: 300px;
    border: 5px solid #CCC;

    .header {
      width: 120px;
      position: relative;
      background-color: #fff;
      top: -18px;
      left: 18px;
    }

    .interesting-category {
      font-size: 11px;
      color: #000;
      text-decoration: underline;
    }

    .body {
      max-height: 85px;
    }
  }

  .pad {
    padding-bottom: 10px;
  }
}

.blog {
  background-color: #F8F9FA;
  min-height: 100px;
  padding: 10px 0 0 10px;

  .position-link {
    position: relative;
    top: -15px;
  }

  .author-link {
    color: #000;
    font-size: 1rem;
  }
}

.event {
  background-color: #F8F9FA;
  min-height: 100px;
  padding: 10px 0 0 10px;
  margin-top: 20px;

  .position-link {
    position: relative;
    top: -15px;
  }

  .company-link {
    color: #000;
    font-size: 1rem;
  }
}

#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}

.social-img {
  padding: 0 10px 0 0;
}

.article-date {
  font-size: 8pt;
  color: #566573;
}

.article-image {
  margin-top: -90px;
}


.category {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10pt;
  color: #566573;
}

.jumbotron {
  padding: 0.8rem 1rem !important;

  .position-category-name {
    margin-top: -10px;
  }
}



// ### Menu ###//
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
