.card {
  p > .card-text {
    font-family: 'Noto Sans', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Inconsolata', monospace !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Source Sans Pro', sans-serif !important;
  }

  .date {
    font-size: 11px;
  }
}
